SOLACE_AGENT_MESH_NAMESPACE=""

SOLACE_BROKER_URL=
SOLACE_BROKER_USERNAME=
SOLACE_BROKER_PASSWORD=
SOLACE_BROKER_VPN=
SOLACE_BROKER_REST_MESSAGING_URL=
SOLACE_BROKER_BASIC_AUTH=

SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=

# If using bambooHR for identity provider
BAMBOO_HR_API_KEY=
BAMBOO_HR_BASE_URL=

SLACK_SQL_HOST_AND_PORT=127.0.0.1
SLACK_SQL_USER=slack_ingestion
SLACK_SQL_PASSWORD=
SLACK_SQL_DATABASE=slack_public_channels

MS_GRAPH_TENANT_ID=
MS_GRAPH_CLIENT_ID=
MS_GRAPH_CLIENT_SECRET=

MONITOR_SLACK_BOT_TOKEN=
MONITOR_SLACK_STATUS_CHANNEL=

RUNTIME_CONFIG_PATH=build/config.yaml

LLM_SERVICE_PLANNING_MODEL_NAME=
LLM_SERVICE_API_KEY=
LLM_SERVICE_ENDPOINT=

EMBEDDING_SERVICE_MODEL_NAME=
EMBEDDING_SERVICE_API_KEY=
EMBEDDING_SERVICE_ENDPOINT=

IMAGE_GEN_MODEL=
IMAGE_GEN_ENDPOINT=
IMAGE_GEN_API_KEY=

REST_API_SERVER_HOST=127.0.0.1
REST_API_SERVER_INPUT_PORT=5100
REST_API_SERVER_INPUT_ENDPOINT="/api/v1/request"
REST_API_SERVER_INPUT_RATE_LIMIT=10
